<div class="row">
        <div class="col-md-4 col-md-offset-4 pad-top">
            <hr>
            <h2 class="intro-text text-center">
                <strong>New file</strong>
            </h2>
            <hr>
            <div class = "sign-up  text-center" >
			    <%= simple_form_for([@course, @upload]) do |f| %>

				 <div class="form-inputs">   
				    <%= f.input :document, as: :file %>
				  </div>

				<% if @edit %>
					  <div class="form-actions">
					    <%= f.button :submit, "Update" %>
					  </div>
					 <% else %>
					   <div class="form-actions">
					    <%= f.button :submit, "Upload" %>
					  </div>
				<% end %>

				<% end %>    
            </div>
    </div>
</div>
