<h1>Uploads#show</h1>
<p>Find me in app/views/uploads/show.html.erb</p>


<table class = "table">
	<tr>
		<th>Document</th>
		<th colspan='2'></th>
	</tr>
<tbody>	
	<tr>
		<td><%= @upload.document %></td>
	</tr>	
</tbody>
</table>